.logo{
    font-family: 'Bilbo Swash Caps', cursive;
}
.texto{
    padding: 40px;
}
.cubitos1{
    background-image: url(./img/fondo1.jpg);
    background-size: cover;
}
.cubitos2{
    background-image: url(./img/fondo2.jpg);
    background-size: cover;
}
.cubitos3{
    background-image: url(./img/fondo3.jpg);
    background-size: cover;
}

img{
    width: 100px;
}
#body{
    background-image: url(./img/image.jpg);
    background-size: cover;
}
a{
    color: #000;
    text-decoration: none;
}

/**************** ANIMACIONES *************/

.sub-hover:hover{
    border-bottom: 1px solid #fff;
}
.card:hover{
    box-shadow: 0 0 15px 1px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: ease .5s;
}
.card{
    transition: ease .5s;
}
@keyframes animacion {
  
    0%{
      right: 100%
    }
    100%{
      right: 0%
    }
  }
.card{
    animation-name: animacion;
    animation-duration: 1s;
}
.form{
    animation-name: animacion;
    animation-duration: 2s;
}